@for (el of elements; track el.id) {
@if (isText(el)) {
<div class="wb-text-el" [class.editing]="isEditing(el.id)" [class.wb-text-el--fixed]="el.sizing === 'fixed'"
    [attr.data-edit-id]="el.id"
    [attr.contenteditable]="isEditing(el.id)" spellcheck="false"
    [style.left.px]="el.x" [style.top.px]="el.y" [style.width.px]="el.width" [style.min-height.px]="el.height"
    [style.font-family]="el.fontFamily" [style.font-size.px]="el.fontSize" [style.font-weight]="el.fontWeight"
    [style.text-align]="el.textAlign"
    [style.color]="el.color" [style.background-color]="el.style.fillColor" [style.opacity]="el.style.opacity"
    (pointerdown)="onPointerDown(el.id, $event)" (pointerup)="onPointerUp(el.id, $event)"
    (dblclick)="onDoubleClick(el.id, $event)"
    (input)="onInput(el.id, $event)" (keydown)="onKeyDown(el.id, $event)"
    (blur)="commitText(el.id, $event.target)" [innerHTML]="el.text"></div>
}
@if (isSticky(el)) {
<div class="wb-sticky-el" [class.editing]="isEditing(el.id)" [style.left.px]="el.x" [style.top.px]="el.y"
    [style.width.px]="el.width" [style.height.px]="el.height" [style.background]="el.fill"
    [style.opacity]="el.style.opacity"
    (pointerdown)="onPointerDown(el.id, $event)" (pointerup)="onPointerUp(el.id, $event)"
    (dblclick)="onDoubleClick(el.id, $event)">
    <div class="wb-sticky-text" [class.editing]="isEditing(el.id)" [attr.data-edit-id]="el.id"
        [attr.contenteditable]="isEditing(el.id)" spellcheck="false"
        [style.font-family]="el.fontFamily" [style.font-size.px]="el.fontSize" [style.font-weight]="el.fontWeight"
        (keydown)="onKeyDown(el.id, $event)" (blur)="commitText(el.id, $event.target)" [innerHTML]="el.text"></div>
</div>
}
}
